.centigrade-sign {
    font-size: 12px;
    margin-left: 5px;
}
.data-note p{
    padding: 10px;
    color: white;
    background-color: #f5b303;
    border-radius: 5px;
    text-align: center;
}
.data-note .redux-persist {
    font-weight: bold;
    color: #000000;
}