/*=====================================*/
/*======== General Style ==============*/
/*=====================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #6c7075;
}
h3,.h3{
  font-size: 24px;
}
h4,.h4{
  font-size: 20px;
}
h6,.h6 {
  font-size: 14px;
}
img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6,p,.h1,.h2,.h3,.h4,.h5,.h6{
  margin:0;
}
p{
  line-height: 1.1;
}
a,a:hover,a:focus{
  color: inherit;
  text-decoration: none;
}
button[disabled]{
  cursor: not-allowed;
}

.text-orange{
  color: #f5b303;
}
.text-yellow{
  color: #ffdf59;
}
.text-d-gray{
  color: #6c7075;
}
.text-l-gray{
  color: #ededed;
}
.text-red{
  color: #cc3333;
}
.text-blue{
  color: #3399cc;
}
.bg-light {
  background-color: #ededed !important;
}
.cursor-pointer{
  cursor: pointer;
}
.btn{
  border-radius: 30px;
  padding: 0.4rem 1rem;
}
.btn-sm{
  font-size: 13px;
}
.btn-s{
  border-radius: 0.5rem;
}
.btn-orange{
  background: #f5b303;
  background-color: #f5b303 !important;
  color: white !important;
  border:1px solid #f5b303 !important;
}

.form-control{
  border-radius: 0.5rem;
  /*border-color: #ededed;*/
  height: auto;
  font-size: 14px;
}
.form-control:focus{
  border-color: #f5b303;
  box-shadow: none;
}
.table{
  margin: 0;
}
.spinner-border {
  color: #f5b303;
}


/*=====================================*/
/*===== Content Wrapper Styles ========*/
/*=====================================*/

.content-wrapper-before {
  /* position: absolute; */
  /* top: 76px; */
  /* left: 0; */
  z-index: -1;
  background: #f5b303;
  background: url(./app/assets/images/background.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 160px;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
}
.content-body{
  margin-top: -62px;
  margin-bottom: 20px;
}
.content-body .dashboard-card{
  margin: 10px 0;
}
.content-body .dashboard-card .list-wrapper {
  max-height: calc(100vh - 324px);
}
.content-card{
  border: 1px solid #6c7075;
  border-radius: 10px;
  background: white;
}

/*=====================================*/
/*======== Card Style =================*/
/*=====================================*/

.weather-card{
  position: relative;
  /*z-index: -1;*/
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  /* height: 160px; */
  padding: 15px;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 15px;
  margin-bottom: 30px;
}
.weather-card .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  /* padding: 15px; */
  border-radius: 15px;
}
.weather-card .date-place{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.degree {
  font-size: 25%;
  position: absolute;
  top: 10px;
}
.weather-card h2{
  font-size: 60px;
}
.weather-card .weather-icon {
  width: 50px;
}
.weather-card .custom-href {
  cursor: pointer;
}
.weather-card .custom-href:hover {
  cursor: pointer;
  text-decoration: underline;
}
.loader-outer {
  min-height: 150px;
}

/*=====================================*/
/*==== Three Cards for weather ========*/
/*=====================================*/

.sunny{
  background: url(./app/assets/images/44152.jpg) center center no-repeat;
}
.haze{
  background: url(./app/assets/images/44153.jpg) center center no-repeat;
}
.cold{
  background: url(./app/assets/images/44154.jpg) center center no-repeat;
}



